﻿<ion-view cache-view="false" container class="container">
<ion-header-bar class="bar-subheader">
<div class="bgheader"></div>
  <div class="wave">
              <div class="wave-bk"><span></span></div>
              <div class="wave-fr"><span></span></div>
            </div>
   <h4 class="no-border no-padding-bottom padding parent" >Welcome  <strong ng-bind="PrimaryUser | uppercase " class="user"></strong>  </h4>
   <div class="slogo" ng-click ="openBrowser('{{website}}')" class="avatar center motion spin fade"><img ng-src="{{url}}upload/img/{{logo}}" ></div>
</ion-header-bar>
<ion-content id="rm">

<div class="im-wrapper">
  <span class="hicon bowtie"><i class="icon ion-university"></i></span> <strong class="color">YOUR KIDS</strong>
</div>
<ion-list>
<div ion-ripple ng-repeat="s in StudentList">
    <ion-item   class="item-icon-right item-avatar" ng-click="studentdetails(s)">
       <img ng-src="{{image}}/{{s.StudentId+'/'+s.Photo}}" class="stud-img">
        <h2 class="upper"><span ng-bind="s.StudentFirstName"></span> <span ng-bind="s.StudentLastName"></span></h2>
        <p><span ng-bind="s.Class"></span><span ng-if="s.Section">-</span><span ng-bind="s.Section" ng-if="s.Section"></span></p>
        <i class="icon ion-chevron-right icon-accessory animated infinite tada"></i>
    </ion-item>
</div>

</ion-list>
<div class="border-top im-wrapper">
  <span class="hicon mic"><i class="icon ion-speakerphone"></i></span> <strong class="color">ANNOUNCEMENTS</strong>
</div>
<div ng-repeat="a in AnnouncementList " class=" animated fadeIn">
    <div class="card2" >
        <div class="item item-body" style="border-left:4px solid {{colors[$index]}};" >
            <div class="a-title bold"><span ng-bind="a.announcementname"></span>-<span ng-bind="a.announcementdate"></span></div>
            <br/>
            <p class="italic" ng-bind="a.announcementdescription" ng-if="a.announcementdescription"></p>
            <div class="submission" style="border:none;">
         <div ng-if="a.PostedDate"><a class="subdued italic" >Posted On&nbsp;:&nbsp; <span class="ng-binding" ng-bind="a.PostedDate" ></span></a></div>
        </div>
        </div>
    </div>
</div>
<div class="card light-bg" ng-show="!AnnouncementList.length">
    <div class="item item-body"><div class="a-title "> No announcement for current month </div></div>
</div>

</ion-content>
</ion-view>
