<ion-view scroll-sista="header" cache-view="false">
<ion-header-bar class="bar-subheader">
<div class="bgheader"></div>
<div class="wave">
  <div class="wave-bk"><span></span></div>
  <div class="wave-fr"><span></span></div>
</div>
<div class="pulse1"></div>
<div class="pulse2"></div>
<div class="center studentimg">
  <img ng-src="{{image}}" class="stud-img2 full-image" ng-if="data.StudentPhoto" ng-click="$ionicGoBack();" >
  <div class="ico1 {{data.NotificationFrom | limitTo:2}}" ng-if="!data.StudentPhoto" ng-click="$ionicGoBack();" ></div>
  <h2 class="upper"><span ng-bind="studentname"></span></h2>
</div>
</ion-header-bar>
<ion-content id="rm">
<div class="detailTitle">{{data.NotificationFrom}}</div>
<div class="detail">
  <div class="card1 animated fadeIn bor">
    <div class="item item-body">
      <div class="animated fadeIn" ng-if="data.Subject">
        <p><strong>Subject </strong> : <span  ng-bind="data.Subject"></span></p>
      </div>
      <div class="animated fadeIn" ng-if="data.Title">
        <p><strong>Title </strong> : <span  ng-bind="data.Title"></span></p>
      </div>
      <span class="mb" ng-repeat="h in AlbumImage" >
        <img ng-src="{{uploadimg}}/{{h.ImageFile}}" class="full-image" style="float-left;height:100%;{{imagewidth(AlbumImage.length)}}"  ng-click="openImageModal(AlbumImage,{{$index}})" /> <!-- ng-click="showImages($index)" -->
        </span>
      <div class="animated fadeIn subdued italic" ng-if="data.Description">
        <p><strong>Description </strong> : <span ng-bind="data.Description"></span></p>
      </div>

      <div class="animated fadeIn" ng-if="data.FromDate">
        <p><strong>Request Date </strong> : <span ng-bind="data.FromDate"></span> - <span ng-bind="data.ToDate"></span></p>
      </div>
      <div class="animated fadeIn subdued italic" ng-if="data.Reason">
        <p><strong>Reason </strong> : <span ng-bind="data.Reason"></span></p>
      </div>
      <p class="mb animated fadeIn" ng-if="data.LeaveRequestStatus"><strong>Status </strong> : <span ng-bind="data.LeaveRequestStatus"></span></p>
      <div class="file1" ng-if="data.FileName && data.NotificationFrom == 'HOMEWORK'">
        <p><strong>Attachment File </strong> :</p>
        <span ng-click="opendoc('{{hwuploadfile+'/'+data.FileName}}')" class=""><i class="icon ion-document"></i>
          <span ng-bind="data.FileName | myFormat" class="{{file(data.FileName)}} first"></span></span>
      </div>
      <div class="file1" ng-if="data.FileName && data.NotificationFrom == 'STUDENT COMMUNICATION'">
        <p><strong>Attachment File </strong> :</p>
        <span ng-click="opendoc('{{uploadfile+'/'+data.FileName}}')" class=""><i class="icon ion-document"></i>
        <span ng-bind="data.FileName | myFormat" class="{{file(data.FileName)}} first"></span></span>
      </div>
      <div class="file1" ng-if="data.FileName && data.NotificationFrom == 'CLASS COMMUNICATION'">
        <p><strong>Attachment File </strong> :</p>
        <span ng-click="opendoc('{{uploadfile+'/'+data.FileName}}')" class=""><i class="icon ion-document"></i>
        <span ng-bind="data.FileName | myFormat" class="{{file(data.FileName)}} first"></span></span>
      </div>
        <div class="submission">
          <div><a class="subdued italic">Posted On&nbsp;:&nbsp; <span class="ng-binding" ng-bind="data.PostedDate"></span></a></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
