﻿<ion-view scroll-sista="header" cache-view="false">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon side_menu"></button>
</ion-nav-buttons>
<ion-header-bar class="bar-subheader">
<div class="bgheader"></div>
  <div class="wave">
              <div class="wave-bk"><span></span></div>
              <div class="wave-fr"><span></span></div>
            </div>
<div class="pulse1"></div>
<div class="pulse2"></div>
<div  class="center studentimg">
  <img ion-ripple ng-src="{{image}}" ng-click="$ionicGoBack();" >
  <h2 class="upper"><span ng-bind="firstname"></span> <span ng-bind="lastname"></span></h2>
</div>
</ion-header-bar>
<ion-content scroll="false" has-bouncing="false">
<div class = "tabs tabs-icon-top" ng-show="activeTabMenus">
   <a class = "tab-item tab_img" ng-repeat="menu in AppMenu " ng-class="{active : activeMenu === menu.MenuKey}"
   ng-show="$index < {{AppMenu.length / 2}}" ng-click="setActive(menu,$index,AppMenu.length)" >
      <img ng-src="img/{{menu.MenuKey}}_icon1.png" />
      <p>{{menu.MenuKey}}</p>
   </a>
   <div class="left_arrow" ng-click="changetab()">
  <i class="ion ion-ios-arrow-right"></i>
   </div>

 </div>
 <div class = "tabs tabs-icon-top" ng-hide="activeTabMenus">
 <div class="left_arrow" ng-click="changetab()" >
  <i class="ion ion-ios-arrow-left"></i>
  </div>
   <a class = "tab-item tab_img" ng-repeat="menu in AppMenu " ng-class="{active : activeMenu === menu.MenuKey}"
   ng-hide="$index < {{AppMenu.length / 2}}" ng-click="setActive(menu,$index,AppMenu.length)" >
      <img ng-src="img/{{menu.MenuKey}}_icon1.png" />
      <p>{{menu.MenuKey}}</p>
   </a>
</div>
</ion-content>

<ion-content scroll="true" has-bouncing="false">
<div class="padding"></div>
<div class="padding"></div>
<div class=""  ng-switch="activeMenu">
<div class="album " ng-switch-when="album" ng-init="albums('')">
  <div class="item-input-inset">
   <label class="item-input-wrapper">
     <i class="icon ion-ios-search placeholder-icon"></i>
     <input type="date" ng-model="sdate" placeholder="Search" />
   </label>
   <button class="button button-small go" ng-click="albums(sdate)">
     SEARCH
   </button>
 </div>
  <div ng-repeat="a in album" class="card1 animated fadeIn">
              <div class="item item-body">
                <div class="mb">
                  <div class="a-title1 bold " ng-bind="a.Title"></div>
                </div>
                <hr class="style-two">
               <span class="mb" ng-repeat="h in a.AlbumImg" >
                  <img ng-src="{{uploadimg}}/{{h.ImageFile}}" class="full-image" style="float-left;height:100%;{{imagewidth(a.AlbumImg.length)}}"  ng-click="openImageModal(a.AlbumImg,{{$index}})" /> <!-- ng-click="showImages($index)" -->
                </span>
                <div class="mb">
                  <div class="italic " ng-bind="a.Description"></div>
                </div>
                <div class="submission">
                  <div><a class="subdued italic">Posted On&nbsp;:&nbsp; <span class="ng-binding" ng-bind="a.PostedDate"></span></a></div>
                </div>
              </div>
            </div>
          <button type="button" class="button button-block mdl-js-button mdl-js-ripple-effect" ng-if="album.length != 0" ng-click="load()">Load More</button>
          <div class="card1 padding" ng-if="album.length == 0">
            <div class="no-event-label"><div><strong>No Record Found</strong></div></div>
          </div>
</div>
<div class="attendance " ng-switch-when="attendance">
  <div class="item item-text-wrap attendance" ng-show="!labels.length== ''">
              <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: true}" colours="[ { fillColor: '#E0722B' }, { fillColor: '#697782' } ]"></canvas>
            </div>
            <div id="tryme" ng-show="!labels.length== ''"><span>Touch Chart to View </span></div>
            <div class="card1 padding" ng-show="labels.length== ''">
              <div class="no-event-label"> <div><strong>No Record Found</strong> </div> </div>
            </div>
</div>
<div class="homework " ng-switch-when="homework">
<div class="item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="date" ng-model="hwdate" placeholder="Search" />
  </label>
  <button class="button button-small go" ng-click="gethomework(hwdate)">
    SEARCH
  </button>
</div>
<ion-scroll direction="y" class="pane" ng-style="{'height':height1}">
<div ng-repeat="h in homework" class="card1 animated fadeIn">
  <div class="item item-body">
    <div class="mb">
      <div class="a-title bold blocks">Subject&nbsp;:</div>&nbsp;<div class="blocks" ng-bind="h.Subject"></div>
    </div>
    <div class="mb">
      <div class="a-title bold blocks">Title&nbsp;:</div>&nbsp;<div class="blocks" ng-bind="h.Title "></div>
    </div>
    <div class="mb">
      <div class="a-title bold blocks">Description&nbsp;:</div>&nbsp;<div class="italic blocks" ng-bind="h.Description" class="italic"></div>
    </div>
    <div class="file" ng-if="h.File">
      <span ng-click="opendoc('{{hwuploadfile+'/'+h.DMFile}}')"><i class="icon ion-document"></i><span ng-bind="h.File | myFormat" class="{{selectcss(h.File)}}"></span></span>
    </div>
    <div class="submission">
      <div><a class="subdued italic">Date of Submission&nbsp;:&nbsp; <span class="ng-binding" ng-bind="h.DateToCompleteWork"></span></a></div>
    </div>
  </div>
</div>
<div class="card1 padding" ng-show="homework.length == 0">
  <div class="no-event-label"><div><strong>No Record Found</strong></div></div>
</div>
</ion-scroll>
</div>
<div class="communication " ng-switch-when="communication">
 <div class="item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="date" ng-model="cdate" placeholder="Search" />
  </label>
  <button class="button button-small go" ng-click="getcommunication(cdate)">
    SEARCH
  </button>
</div>
<ion-scroll direction="y" class="pane" ng-style="{'height':height1}">
<div ng-repeat="c in communication" class="card1 animated fadeIn">
  <div class="item item-body">
    <div class="mb">
      <div class="a-title bold blocks">Title&nbsp;:</div>&nbsp;<div class="blocks" ng-bind="c.Title"></div>
    </div>
    <div class="mb">
      <div class="a-title bold blocks">Description&nbsp;:</div>&nbsp;<div class="italic blocks" ng-bind="c.Description" class="italic"></div>
    </div>
    <div class="file" ng-if="c.File">
      <span ng-click="opendoc('{{uploadfile+'/'+c.DMFile}}')"><i class="icon ion-document"></i><span ng-bind="c.File | myFormat" class="{{selectcss(c.File)}}"></span></span>
    </div>
    <div class="submission1">
      <a class="subdued italic">Posted On&nbsp;:&nbsp; <span class="ng-binding" ng-bind="c.PostedDate"></span></a>
    </div>
  </div>
</div>
<div class="card1 padding" ng-show="communication.length == 0">
  <div class="no-event-label"><div><strong>No Record Found</strong></div></div>
</div>
</ion-scroll>
</div>
<div class="calendar " ng-switch-when="calendar" ng-init="loadEvents()">
  <ion-scroll direction="y" class="pane" ng-style="{'height':height}">
<calendar ng-model="currentDate" event-source="eventSource" ng-load="loadEvents" event-selected="onEventSelected(event)"
time-selected="onTimeSelected(selectedTime)">
</calendar>
</ion-scroll>
</div>
<div class="leave " ng-switch-when="leaverequest">
  <ion-scroll direction="y" class="pane" ng-style="{'height':height}">
<div class="list">
  <label class="item item-input">
    <span class="input-label">Reason <span class="mandatory">*</span></span>
    :&nbsp;<input type="text" placeholder="Reason" required ng-model="reason" maxlength="150" class="pl2">
  </label>
  <label class="item item-input">
    <span class="input-label">From date <span class="mandatory">*</span></span>
    :&nbsp;<input type="date" placeholder="From Date" ng-model="fromdate" required>
  </label>
  <label class="item item-input">
    <span class="input-label">To date <span class="mandatory">*</span></span>
    :&nbsp;<input type="date" placeholder="To Date" min="{{fromdate | date:'yyyy-MM-dd'}}" ng-model="todate" required>
  </label>
  <div class="center padding">
    <button ion-ripple class="button button-small icon-left ion-ios-paperplane-outline button-calm" ng-disable="!reason" ng-click="leaveapply(reason,fromdate,todate)"  type="button">SEND</button>
    <button type="reset" ion-ripple class="button button-small icon-right ion-trash-a grey "  ng-click="clearfields()">CLEAR</button>
  </div>
</div>
<div class="border">
  <div class="button-bar">
    <a ion-ripple ng-click="status = !status" class="item button status" ng-click="term()" ng-class="termfee ?'tab-active':'tab-deactive'">
      {{status  && 'Click to hide last three status' || 'Click to view last three status'}}
    </a>
  </div>
  <div ng-show="status" class=" ">
    <div class="row header item padding">
      <div class="col40"><strong>Date</strong> </div>
      <div class="col40"><strong>Reason</strong> </div>
      <div class="col20"><strong>Status</strong> </div>
    </div>
    <div  ng-repeat="l in leaverequestlist" ng-click="leaveview(l)" class="row item padding">
      <div class="col40 "><p class="font13" ng-bind="l.fdate+'--'+l.tdate"></p></div>
      <div class="col40"><p class="font13" ng-bind="l.reason" title="{{l.reason}}"></p></div>
      <div ng-bind="l.status" class="col20 font13" ng-class="{'color-red': l.status === 'Declined', 'color-blue': l.status === 'Pending', 'color-green': l.status === 'Approved'}"></div>
    </div>
  </div>
</div>
</ion-scroll>
</div>
<div class="fee " ng-switch-when="fee">
 <ion-scroll direction="y" class="pane" ng-style="{'height':height}">
<div class="Card" ng-show="fee">
  <div class="button-bar">
    <a ion-ripple class="item item-icon-left button" ng-click="term()" ng-class="termfee ?'tab-active':'tab-deactive'">
      <img ng-src="img/money.svg" width="12"/>
      Term Fee
    </a>
  </div>
  <div class = "animated bounceInDown"  ng-show="termfee">
    <div class="row header item padding">
      <div class="col40"><strong>Fee Category</strong></div>
      <div class="col20"><strong>Amount</strong></div>
      <div class="col20"><strong>Tax</strong></div>
      <div class="col20"><strong>Last Date</strong></div>
    </div>
    <div class="row item padding word_wrap" ng-repeat="f in fee | filter:'Term'">
      <div class="col40 font13" ng-bind="f.FeeCategoryName "></div>
      <div class="col20 font13" ng-bind="f.Amount"></div>
      <div class="col20 font13"  ng-bind="f.Tax"></div>
      <div class="col20 font13 color-red" ng-bind="f.LastDate" ng-class="{'color-green': f.LastDate === 'Paid'}"></div>
    </div>
  </div>
</div>
<div class="Card" ng-show="fee">
  <div class="button-bar">
    <a ion-ripple class="item item-icon-left button" ng-click="annual()" ng-class=" annualfee ?'tab-active':'tab-deactive'">
      <img ng-src="img/money.svg" width="12"/>
      Annual Fee
    </a>
  </div>
  <div class ="animated bounceInUp" ng-show="annualfee">
    <div class="row header item padding" >
      <div class="col40"><strong>Fee Category</strong></div>
      <div class="col20"><strong>Amount</strong></div>
      <div class="col20"><strong>Tax</strong></div>
      <div class="col20"><strong>Last Date</strong></div>
    </div>
    <div class="row item padding word_wrap" ng-repeat="f in fee | filter:'Annual'">
      <div class="col40 font13" ng-bind="f.FeeCategoryName "></div>
      <div class="col20 font13" ng-bind="f.Amount"></div>
      <div class="col20 font13"  ng-bind="f.Tax"></div>
      <div class="col20 font13 color-red" ng-bind="f.LastDate" ng-class="{'color-green': f.LastDate === 'Paid'}"></div>
    </div>
  </div>
</div>
<div class="card1 padding" ng-show="!fee">
  <div class="no-event-label"><div><strong>No Record Found</strong></div></div>
</div>
</ion-scroll>
</div>
<div class="article " ng-switch-when="article">
  <div class="item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="date" ng-model="articledate" placeholder="Search" />
  </label>
  <button class="button button-small go" ng-click="getarticle(articledate)">
    SEARCH
  </button>
</div>
<ion-scroll direction="y" class="pane" ng-style="{'height':height1}">
<div ng-repeat="a in article" class="card1 animated fadeIn">
  <div class="item item-body">
    <div class="mb">
      <div class="a-title bold blocks">Title&nbsp;:</div>&nbsp;<div class="blocks" ng-bind="a.Title"></div>
    </div>
    <div class="mb">
      <div class="a-title bold blocks">Description&nbsp;:</div>&nbsp;<div class="italic blocks" ng-bind="a.Description" class="italic"></div>
    </div>
    <div class="submission">
      <div><a class="subdued italic">Posted On&nbsp;:&nbsp; <span class="ng-binding" ng-bind="a.PostedDate"></span></a></div>
    </div>
  </div>
</div>
<div class="card1 padding" ng-show="article.length == 0">
  <div class="no-event-label"><div><strong>No Record Found</strong></div></div>
</div>
</ion-scroll>
</div>
</div>
</ion-content>

</ion-view>
